<%= form_with model: list, data: { turbo: false } do |form| %>
    <p>
        <%= form.label :name, 'Name' %>
        <%= form.text_field :name %>
    </p>
    <p>
        <%= form.submit %>
    </p>
    
<% end %>
