<h2>Edit List</h2>

<% if @list.errors.any? %>
    <% @list.errors.full_messages.each do |message| %>
        <p>
            <%= message %>
        </p>
    <% end %>
<% end %>

<%= render 'form', list: @list %>
