<h2>New List</h2>

<%= form_with model: @list, data: { turbo: false } do |f| %>
    <p>
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.submit %>
    </p>
    
<% end %>