<div class="home-container">
    <div class="home-title-container">
        <h1>To-Do Lists App</h1>

        <%= link_to 'My To-Do Lists', lists_path, class: "btn"  %>    
    </div>
    <div class="home-footer">
        <p class="home-xs-text">made for study purposes</p>
        <p class="home-m-text">by Mari Kaori</p>    
    </div>
</div>
