<h3>Adicionar Novo Item</h3>

<%= form_with model: [list, list.items.build], local: true, data: { turbo: false } do |form| %>
    <div>
        <%= form.label :description, 'Descrição do Item' %>
        <%= form.text_field :description %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>
